@model PagedList.IPagedList<Model.EF.Tour>
@using PagedList.Mvc;
@using BookingTour.Commons;
@section custom_css {
    <link href="~/Content/HomePagedList.css" rel="stylesheet" />
}
@section js_footer {
    <script src="~/Scripts/Validation/RegisterValidation.js">
    </script>
    <script src="~/Scripts/Validation/LoginValidation.js">
    </script>
    <script src="~/Scripts/Controllers/LoginController.js"></script>
}
@section modal {
    @Html.Partial("~/Views/Login/_LoginFormModal.cshtml");
    @Html.Partial("~/Views/Register/_RegisterFormModal.cshtml");
}
<!-- Start search bar-->
@{Html.RenderAction("Category", "Home");}
<!-- End search bar-->

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Những nơi tuyệt vời nhất để trải nghiệm</h2>
                <p>Đừng bao giờ ngần ngại đi xa hơn nữa, vượt qua mọi đại dương, mọi biên giới, mọi quốc gia và mọi đức tin.</p>
            </div>
        </div>
        <!-- List tour -->
        <div class="row">
            <!-- 12 records -->
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <a href="/Tour?id=@item.id">
                                <img src="@item.image" class="img-fluid" alt="Colorlib Template">
                            </a>
                        </div>
                        <div class="text">
                            <h4 class="price">$ @item.price</h4>
                            <span>Tour @item.days_of_tour ngày</span>
                            <h3>
                                <a href="/Tour?id=@item.id" class="tour-name">@item.name</a>
                            </h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="mr-auto float-left star-rating">
                                    @for (int i = 1; i <= Math.Round(item.rating); i++)
                                    {
                                        <span class="ion-ios-star text-warning"></span>
                                    }
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(@item.rating_count)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="@item.image" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
            }
            @Html.ValidationSummary(false, "", new { @class = "record-not-found" })
        </div>
        <!-- End list tour-->
        <!-- Start Pagination bar -->
        <div class="row mt-5">
            <div class="col text-center">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString, }))
            </div>
        </div>
        <!-- End pagination bar-->
    </div>
</section>

